<mat-list class="md-elevation-z1">
  <button mat-button>
    <mat-list-item mat-button>
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <h4 mat-line>{{userName}}</h4>
    </mat-list-item>
  </button>
  <button mat-button>
    <mat-list-item mat-button>
      <mat-icon mat-list-icon>group_work</mat-icon>
      <h4 mat-line>{{groupName}}</h4>
    </mat-list-item>
  </button>
  <mat-divider></mat-divider>
  <!--<h3 md-subheader>menu</h3>-->
  <button mat-button *ngFor="let item of menuHandler.onCreateItems1()" (click)="menuHandler.onItemClick(item)">
    <mat-list-item>
      <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
      <h4 mat-line>{{item.name}}</h4>
    </mat-list-item>
  </button>
  <mat-divider></mat-divider>
  <!--<h3 md-subheader>Notes</h3>-->
  <button mat-button *ngFor="let item of menuHandler.onCreateItems2()" (click)="menuHandler.onItemClick(item)">
    <mat-list-item>
      <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
      <h4 mat-line>{{item.name}}</h4>
    </mat-list-item>
  </button>
</mat-list>
