<h1 mat-dialog-title>Dodawanie kategorii</h1>
<div mat-dialog-content class="flex-outer">
  <div class="flex-container">
    <div class="item">Dokument1.pdf</div>
    <button mat-raised-button color="primary" class="item" (click)="addFile()">wybierz dokument</button>
    <input type="file" #file style="display: none" (change)="onFileAdded()"/>
  </div>
  <div class="flex-container">
    <mat-checkbox>przydziel automatycznie (dokładność: <span class="added">75%</span>)</mat-checkbox>
  </div>
  <div class="flex-container">
    <select-category></select-category>
  </div>
</div>
<div mat-dialog-actions class="footer">
  <button mat-button (click)="ok()" color="primary" class="bold">Dodaj</button>
  <button mat-button (click)="dialogRef.close('Option 2')" class="bold">Anuluj</button>
</div>
